<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">

  <title>Cargar Data</title>
  <style>
    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 2%;
      color: white;
    }
    body{
      background: #262626
    }
    table{
      color: white;
    }
  </style>
</head>
<body>
<div class="container">
  <h1 style = "color: white">Cargar el archivo Data.txt</h1>
  <form th:action="@{/fileUpload}" method="POST" enctype="multipart/form-data">
    <br>
    <input type="file" class="form-control" name="file">
    <br>
    <input class = "btn btn-primary"
          type="submit" value="Cargar archivo">
  </form>
  <br>
  <section>
    <a class="btn btn-light"  href="/fileInformation" role="button" >Ver DATA.txt cargado</a>
  </section>
  <br>
  <section>
    <a class="btn btn-light"  href="/main" role="button" >Volver al menú principal</a>
  </section>
</div>
</body>
</html>