<!DOCTYPE html>
<html lang = "es">
<head>
    <meta charset="UTF-8">
    <title>Listado de Empleados</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <style>
        body{
            background: #262626
        }
        table{
            color: white;
        }
    </style>
</head>
<body>
<div align = "center" class = "container my-2">
    <h1 style="color: white"> Listado de empleados</h1>
    <table border = "1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <!--<th>Rut</th>-->
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Fecha de Nacimiento</th>
            <th>Categoria</th>
            <th>Fecha de Ingreso</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="empleado:${empleados}">
            <!--<td th:text="${empleado.rut}"></td>-->
            <td th:text="${empleado.nombres}"></td>
            <td th:text="${empleado.apellidos}"></td>
            <td th:text="${empleado.fecha_nacimiento}"></td>
            <td th:text="${empleado.categoria}"></td>
            <td th:text="${empleado.fecha_ingreso}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="row justify-content-center">
<section>
<a class="btn btn-light"  href="/main" role="button">Volver al menú principal</a>
</section>
</div>
</body>
</html>